.registration {
  // max-width: 18.5vw;
  // width: 100%;

  &__items {
    display: flex;
    // max-width: 18.5vw;
    width: 100%;
    //   display: flex;
    justify-content: space-between;
    // padding: 0 1em 0 0;

    @include breakpoint($desktop-bp) {
      max-width: unset;
      width: auto;
      // padding: 0 1em;
    }
  }

  &__item {

    &:not(:first-child) {
      margin-left: 1.5em;

      @include breakpoint($mobile-bp) {
        margin-left: 10px;
      }
    }
  }

  &__btn {
    position: relative;
    display: inline-block;

    @extend %arial-700;
    font-size: clamp(10px, 0.83vw, 12px);
    color: $white;
    text-transform: uppercase;
    // background-position: 0 0;
    box-shadow: none;
    background: transparent;
    border: none;
    // border: 1px solid transparent;
    border-radius: 0.6em;

    transition: background 0.3s linear, border-color 0.3s linear;
    cursor: pointer;
    overflow: hidden;

    &::before {
      content: '';
      display: flex;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: all .5s;
      z-index: -1;
    }

    @include breakpoint($mobile-bp) {
      font-size: clamp(8px, 2vw, 11px);
      // padding: 6px 10px;
    }

    &:focus {
      color: $black;
    }

    &:active {
      color: darken($white, 20%);
    }

    &:hover {

      &::before {
        opacity: 0;
      }
    }
  }

  &__new-user {
    border: 1px solid rgb(3, 84, 255);
    position: relative;
    // color: #4FD666;
    padding: 0.8em 2.1em;

    &::before {
      background: linear-gradient(90deg, transparent 0%, transparent 20%, rgb(3, 84, 255) 20.35%, rgb(23, 149, 249) 99.55%) top right/500% 500%;
    }

    @include breakpoint($mobile-bp) {
      padding: 6px 10px;
    }
  }

  &__old-user {
    padding: 0.8em 1.3em;
    border: 1px solid rgb(244, 15, 62); 
    
    &::before {
      background: linear-gradient(90deg, rgb(244, 15, 62) 12.25%, rgb(255, 160, 159) 138%);
    }

    @include breakpoint($mobile-bp) {
      padding: 6px 10px;
    }
  }
}