block btn-box

  .btn-box
    a#get.btn-box__new(href="https://betandyou.com/registration/" target="_blank").
      reivindicar agora
    p#rules.btn-box__rules(data-modal='popup-modal').
      Termos e Condições
  