block btn-boxtop

  .btn-boxtop
    a#getTop.btn-boxtop__new(href="https://betandyou.com/registration/" target="_blank" ).
      receber bonus
    p#rulesTop.btn-boxtop__rules(data-modal='popup-modal').
      Termos e Condições
  