block wrapper 
  .wrapper
    //- .wrapper__image
    //-   picture 
    //-     source(srcset="images/main-bg.webp")
    //-     img.wrapper__img(src="images/main-bg.jpg" alt="field")  
    main.main
      include page-ios
      .yellow-line
    include ../layouts/footer
        //- .container.container--fluid
         //- include instruction
        //- .container
        //-  include btn-box
        //-  include socials--mobile
        
  //- include popup
