.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 150px;
  width: 100%;

  @include breakpoint($mobile-bp) {
    // display: none;
  }

  @include breakpoint($middle-bp) {
    max-width: 20%;
  }

  &.socials--mobile {
    display: none;

    @include breakpoint($mobile-bp) {
      display: flex;
      margin: 0 auto;
      padding: 20px 0;
      max-width: 50%;
    }
  }

  &__item {
    @include breakpoint($mobile-bp) {
      margin: 0 5px;
    }
  }

  &__link {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;

    background-color: $accent;
    border: 1px solid $black;
    border-radius: 50%;
    transition: background-color, 0.3s linear, border-color 0.3s linear, filter 0.3s linear;
    overflow: hidden;

    @include breakpoint($mobile-bp) {
      width: 22px;
      height: 22px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      transition: all 0.25s ease;
      border-radius: 30px;
      border-radius: 0;
      margin-left: -100%;
      box-shadow: inset 0 0 0 60px $black;
    }

    &:hover {
      border-color: $accent;
      background-color: transparent;

      &::before {
        margin-left: 0;
        box-shadow: inset 0 0 0 60px transparent;
      }

      use {
        fill: $accent;
      }
    }

    &:active {}

    &:focus {
      border-color: $yellow;
      filter: opacity(0.8);
    }
  }

  &__icon {
    position: relative;
    z-index: 2;
    width: 14px;
    height: 14px;

    use {
      fill: #1f2022;
      transition: fill 0.3s linear;
    }
  }
}